#
#	This file needs to be on /etc/systemd/system/
#	Restart is chosen because we terminate only
#	on failure where we kill our own children and exit
#	and expect tshito restart us	
#
[Unit]
Description=Yolo filtered motion triggered snapshots
After=mount-usb

[Service]
Type=exec
ExecStart=/home/embed/intrusion/bin/python3 /home/embed/intrusion/intrusion.py
User=embed
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=80
Restart=always
RestartSec=50s

[Install]
WantedBy=multi-user.target

