#
#	This file needs to be on /etc/systemd/system/
#
[Unit]
Description=mount-usb stick

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=sudo /usr/local/bin/mount-usb

[Install]
WantedBy=multi-user.target

